* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #303541;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.nav-button {
    font-family: 'Poppins', Arial, sans-serif; 
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; 
    color: black;
    border-radius: 5px; 
}

.nav-button:hover {
    background-color: #ccc;
}

.nav-button.active {
    background-color: #aaa; 
    color: white;
}

.banner {
    background-color: rgba(255, 115, 0, 0.6); 
    color: black;
    padding: 60px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.banner h1 {
    font-size: 64px; 
    color: white; 
    margin: 0;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    width: 80%;
}

.profile-image {
    width: 150px; 
    height: auto;
    border-radius: 50%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.content {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}

.stockPic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    gap: 40px;
}

.image-slider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stockPic-image {
    width: 450px;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.bio-text {
    width: 100%;
    max-width: 800px;
    font-size: 18px;
    line-height: 1.6;
    color: white;
}

.bio-text h1 {
    margin-bottom: 20px;
}

.bio-text p {
    margin-bottom: 30px;
}

.arrow {
    position: absolute;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

#left-arrow {
    left: 20px;
}

#right-arrow {
    right: 20px;
}

.hidden {
    display: none;
}